* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #E0CFC3;
  width: 100%;
  height: auto;
  font-size: 18px;
  font-family: 'JetBrains Mono', monospace;
}

.logo {
  position: fixed;
  height: 8vh;
  width: 41vw;
  color: #E0CFC3;
  left: 0;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  background-color: #222;
}

.nav {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 41vw;
  width: 59vw;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 2;
}

.nav .nav-items {
  display: block;
  position: relative;
  right: 1rem;
  padding: 0 2rem 0 2rem;
  cursor: pointer;
  min-height: 8vh;
  line-height: 8vh;
}

.menu-bttn {
  width: 8vh;
  height: 8vh;
  position: absolute;
  background-color: #222;
  display: none;
  z-index: 2;
  top: 0;
  right: 0;
}

.msvg {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

main {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content {
  position: relative;
  top: 8rem;
  left: -2rem;
  width: 80%;
  height: auto;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin-bottom: 12rem;
}

.main-content .imgs {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  background-position: center;
}

@media only screen and (max-width: 900px) {
  nav {
    background-color: #222;
    position: fixed;
    top: -8vh;
    left: 0;
    width: 100%;
    height: 16vh;
    padding-top:8vh;
    color: #fff;
    z-index: 1;
  }
  .logo {
    position: absolute;
    height: 8vh;
    width: calc(100vw - 8vh);
    color: #E0CFC3;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    z-index: 3;
    background-color: #222;
  }
  .menu-bttn {
    width: 8vh;
    height: 8vh;
    position: absolute;
    display: inline-block;
    background-color: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    top: 8vh;
    right: 0;
  }
  .nav {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    z-index: 4;
  }
  .nav .nav-items {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 1rem;
    right: 0;
  }
  main {
    position: relative;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .main-content {
    position: absolute;
    top: 8rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content .imgs {
    margin: 0 0 2rem 0;
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
  }
}
/*# sourceMappingURL=style.css.map */
